@{
    ViewData["Title"] = "Shopping Cart";
}


<div id="cart">

  
</div>


@section Scripts {
    <script>

        $(function(){

            $("#cart").load("/Home/CartItem")
        })

        function onQuantityChanged(cartItemId,quantity) {


           
            console.log(quantity.value)
            $.ajax({
                type : "post",
                url: '@Url.Action("ChangeCartQuantity" ,"Home")',
                dataType: "json",
                data: { itemCartId: cartItemId, quantity: quantity.value },
                success: function(response){
                    console.log(response)
                   

                    $("#cart").load("/Home/CartItem")
                      
                                   
                },
                error: function(){
                    console.log("error")
                }
            })
        }
    </script>
}

