html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.card {
    width: 300px;
    height: 300px;
}

.card-img {
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .8
}

. /*card-columns .card:hover .card-img {
    opacity: 1;
    -webkit-transform-style: preserve-3d;

}

.card-columns .card-body {
    height: 100px;
    font-family: 'Nunito', sans-serif;
    background: #fbfafd;
}

.card-columns .card-img {
    height: 330px;
    vertical-align: bottom;
    background-position: center;*/ /* Center the image */
/*background-repeat: no-repeat;*/ /* Do not repeat the image */
/*background-size: cover;*/ /* Resize the background image to cover the entire container */
/*opacity: .8;
}

.modal .card-img {
    height: 500px;
    vertical-align: bottom;
    background-position: center;*/ /* Center the image */
/*background-repeat: no-repeat;*/ /* Do not repeat the image */
/*background-size: cover;*/ /* Resize the background image to cover the entire container */
/*}*/
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}

.card-footer {
    background: #fbfafd;
}

a.navbar-brand {
    white-space: normal;
    font-family: 'Yellowtail', cursive;
    font-size: xx-large;
    text-align: center;
    word-break: break-all;
}
